:root {
  --background-color: white;
  --text-color: black;
  --link-color: darkblue;
  --link-color-on-hover: lightblue;
  --banner-color: lightgray;
  --button-color: #007acc;
  --nav-bar-color: grey;
  --side-bar-color: lightgrey;
  --account-form-background-color: #fff;
}

body.dark-mode {
  --background-color: black; /* dark mode background color */
  --text-color: white; /* dark mode text color */
  --side-bar-color: black;
  --link-color: lightblue;
  --account-form-background-color: black;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* visited links color*/
a:visited {
  color: var(--link-color); /* Change the color to your desired value */
}

/* PAGE HEADER */
#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 100%;
}

#header-container-minimal {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-container-minimal a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-container-minimal a img {
  max-width: 30%;
  height: auto;
  padding: 20px;
}

/* Logo on the left */
#logo {
  order: 1;
}

/* Centered search bar */
#search {
  order: 3;
  flex: 1;
  text-align: center;
}

/* Style the search input field */
#search-form input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(95% - 150px);
  margin-right: 0.5em;
}

/* Style the search button */
#search-form button {
  background-color: var(--button-color);
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

/* Add a hover effect for the search button */
#search-form button:hover {
  background-color: #005faa;
}

/* User actions to the right */
#user-actions {
  order: 4;
}

#user-actions nav a {
  margin-right: 30px; /* Adjusts the space to the right of each link */
  padding: 5px 10px; /* Adjusts the space around the text inside each link */
}

#appearance-settings {
  order: 5;
}

/* toggle button for light/dark mode */
#toggle-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--button-color);
  color: #fff;
  border: none;
  cursor: pointer;
}

/* CATEGORY NAV */

/* Style the category navigation */
#category-nav {
  background-color: var(--nav-bar-color);
  padding: 10px;
  text-align: center;
}

/* Style the category navigation links */
#category-nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

/* Add a hover effect for category navigation links */
#category-nav a:hover {
  text-decoration: underline;
}

/* FOOTER STYLING */

footer {
  text-align: center;
  padding: 20px;
}

/* CLASS STYLING */

/* Login and Sign up form */
/* Styling the form with a border box */
.account-form {
  text-align: center;
  border: 2px solid #333; /* Adjust the color and thickness as desired */
  padding: 10px; /* Space inside the border */
  border-radius: 100px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  background-color: var(
    --account-form-background-color
  ); /* Background color for the form */
}

/* Adjusting the size of the labels */
.account-form form label {
  font-size: 26px; /* Adjust this value to increase or decrease the label size */
}

/* Adjusting the size of the input boxes */
.account-form input[type="text"],
.account-form input[type="password"] {
  width: 50%; /* Makes the input boxes take the full width of their container */
  padding: 5px; /* Adds some padding inside the input boxes */
  font-size: 25px; /* Increases the font size */
  box-sizing: border-box; /* Ensures padding and border are included in the total width */
}

/* Loosely follow text and password type inputs */
.account-form input[type="number"] {
  width: 50%;
  padding: 5px;
  font-size: 25px;
  box-sizing: border-box;
}

/* Center the logo for mini header */
.logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

header img {
  max-width: 100%; /* Ensures the image doesn't exceed the width of its container */
}

.button {
  transition-duration: 0.4s;
  background-color: #5adb5f; /* Green */
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 30px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: green;
  color: white;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(20px);
}

/* HOME PAGE - FEATURED PRODUCT DISPLAY SECTION */

/*featured banner used in homepage*/
.banner {
  background: var(--banner-color);
  height: 50px;
  padding-top: 10px;
}

.featured-product-section {
  padding: 0 20px 40px 20px;
}

.featured-product-section .product-display-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.featured-item {
  border: 10px solid #ddd;
  padding: 10px;
  text-align: center;
}

.featured-item img {
  height: 400px;
  object-fit: contain;
}

.slideshow-container {
  width: auto;
  max-height: 100px; /* Adjust the maximum height as needed */
  height: 0;
  padding-bottom: 28.12%; /* Adjust the aspect ratio as needed */
  position: relative;
  overflow: hidden;
  margin: auto;
}

.slideshow-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  animation: fade 5s ease-in-out infinite;
}

.slide {
  display: none;
  text-align: center;
  width: 100%;
}

/* Navigation buttons */
.prev,
.next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #333;
  border: none;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* Fading animation for slides */

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  20%,
  80% {
    opacity: 1;
  }
}

/* == END HOMEPAGE == */

/* CATEGORY PAGES */

.center {
  text-align: center;
}

/* Two-section container: sidebar and product-display */
.two-section-container {
  display: flex;
  align-items: flex-start;
}

/* CATEGORY PAGE - SIDEBAR */
.sidebar-section {
  width: 25%;
  background-color: var(--side-bar-color);
  padding: 20px;
  height: auto;
  flex: 1;
}

.selected-filter {
  font-weight: bold;
}

/* CATEGORY PAGE - SIDEBAR - CATEGORY FILTER */
.filter-category {
  text-align: left;
}

.filter-category a {
  color: var(--link-color);
  text-decoration: none;
  display: block;
  margin-left: 10px;
  margin-bottom: 10px; /* Space between links */
  font-size: 16px;
}

.filter-category a:hover {
  text-decoration: underline;
  color: var(--link-color-on-hover); /* Text color for the links on hover */
}

/* CATEGORY PAGE - SIDEBAR - PRICE FILTER */

.filter-price a {
  text-decoration: none;
  color: var(--link-color);
  display: block;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.filter-price a:hover {
  text-decoration: underline;
  color: var(--link-color-on-hover);
}

/* CATEGORY PAGE - PRODUCT DISPLAY GRID */
.product-display-section {
  width: 75%;
  padding: 20px;
  flex: 2;
}

.product-display-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Initially set 4 columns */
  gap: 20px;
  transition: grid-template-columns 0.5s;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .product-display-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for smaller screens */
  }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  .product-display-grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 columns for very small screens */
  }
}

.item-display {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.item-display img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

/* == END CATEGORY PAGE == */

/* CART PAGES */

.center {
  text-align: center;
  padding: 20px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  margin: auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.item-thumbnail {
  height: 100px;
  object-fit: cover;
}

.checkout-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin-right: 20px; /* Optional: Add some spacing from the right edge */
}

.cart-total {
  font: 2em san-serif;
  margin-bottom: 20px;
}

.checkout-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: yellowgreen;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.rightAlignedWidgets {
  text-align: right;
  margin-top: 20px;
}

/*Product Page*/

.page-format > * {
  margin-left: 5%;
  margin-right: 5%;
}

div.button-layout > button {
  margin: 10px;
}

div.product-review {
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: #cfcfcff4;
  padding-left: 5%;
}

.child-padding > * {
  margin-left: 5%;
  margin-right: 5%;
}

.product-container {
  display: grid;
  grid-template-areas:
    "picture picture name name name"
    "picure picture price price price"
    "picure picture cart cart cart";
}

img.product-image {
  --width: 400px;
  width: var(--width);
  height: calc(var(--width) * 1.17);
}

.item-picture {
  grid-area: 1/2/4/3;
  align-items: self-end;
  align-content: end;
  justify-items: end;
  justify-content: end;
}

.item-name {
  grid-area: 1/3/1/5;
}

.item-price {
  grid-area: 2/3/2/5;
}

.item-cart {
  grid-area: 3/3/3/5;
}

fieldset.fieldset-border {
  border: 0;
}

.error {
  color: red;
  font-size: 0.8em;
}
