/* PAGE HEADER */
#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

/* Logo on the left */
#logo {
  order: 1;
}

/* Centered search bar */
#search {
  order: 3;
  flex: 1;
  text-align: center;
}

/* Style the search input field */
#search-form input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(95% - 150px);
  margin-right: 0.5em;
}

/* Style the search button */
#search-form button {
  background-color: #007acc;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

/* Add a hover effect for the search button */
#search-form button:hover {
  background-color: #005faa;
}

/* User actions to the right */
#user-actions {
  order: 4;
}

#user-actions nav a {
  margin-right: 20px; /* Adjusts the space to the right of each link */
  padding: 5px 10px; /* Adjusts the space around the text inside each link */
}

/* CATEGORY NAV */

/* Style the category navigation */
#category-nav {
  background-color: grey;
  padding: 10px;
  text-align: center;
}

/* Style the category navigation links */
#category-nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

/* Add a hover effect for category navigation links */
#category-nav a:hover {
  text-decoration: underline;
}

/* CATEGORY PAGES */
.center {
  text-align: center;
}

/* FOOTER STYLING */

footer {
  text-align: center;
}

/* CLASS STYLING */

/* Login and Sign up form */
.account-form {
  text-align: center;
}

/* Adjusting the size of the labels */
.account-form form label {
  font-size: 26px; /* Adjust this value to increase or decrease the label size */
}

/* Adjusting the size of the input boxes */
.account-form input[type="text"],
.account-form input[type="password"] {
  width: 50%; /* Makes the input boxes take the full width of their container */
  padding: 5px; /* Adds some padding inside the input boxes */
  font-size: 25px; /* Increases the font size */
  box-sizing: border-box; /* Ensures padding and border are included in the total width */
}

/* Center the logo for mini header */
.logo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

header img {
  max-width: 100%; /* Ensures the image doesn't exceed the width of its container */
}
